
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&display=swap");

/* -------------- SMALLEST SCREEN (DEFAULT) -------------- */

body {
  font-family: 'Titillium Web','Chakra Petch', Helvetica;
  color: #23a9f2;
  background-color: white;
}

h1, h2, h3, h5, h6, img, p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

div {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
}

div img {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
}

.banner {
  margin: 0px; 
  padding: 0px;
  top: 0px;
  left: 0px;
}

.banner-title {
  position: absolute;
  font-family: 'Encode Sans Expanded';
  color: white;
  color: white;
  top: 0px;
  height: auto;
  width: 250px;
  margin: 0px;
  padding: 0px;
  right: 0px;
}

.banner-title h4 {
  font-size: 36px;
  margin-bottom: 7px;
}

.banner-title p {
  font-size: 20px;
  border-top: 1px solid white;
  padding-top: 7px; 
}

.banner-navigation {
  margin: 0px; 
  padding: 0px;
  position: absolute;
  font-size: 6vw;
  text-align: center;
  height: 275px;
  width: 100%;
}

.banner-video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  border-bottom: 1px solid #b7e4fc;
  object-fit:cover;
}

.banner-elements {
  margin-top: 212px;
  margin-left: 15px;
  height: 160px;
  width: auto;
  /* background-color:blueviolet; */
}

.banner-avatar {
  height: 120px;
  width: 120px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #b7e4fc;
  background-color: #b7e4fc;
  left: 0px;
  float: left;
}

.banner-button-list {
  margin: 0px;
  padding: 0px;
  padding-top: 75px;
  list-style: none;
  height: 80px;
}

.banner-button-list li {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 40px;
  margin-right: 10px;
}

.banner-button-list li a {
  font-family: 'Chakra Petch', 'Titillium Web', Helvetica;
  text-decoration: none;
  float: left;
  margin: 0px;
  padding: 0px;
  font-size: 22px;
}

.banner-button-list li a img:last-child {
  display: none;
}
.banner-button-list li a:hover img:last-child {
  display: block;
}
.banner-button-list li a:hover img:first-child {
  display: none;
}

.banner-label {
  display: none;
}

.banner-icon img {
  height: 45px;
  width: 45px;
  float: left;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #65e7ff;
}

.blog-overlay {
  font-size: 14px;
  height: 22px;
  width: 60px;
  margin-top: 90px;
  padding-top: 0px;
  position: absolute;
  background-color: darkorange;
}

.blog-overlay a {
  color: white;
  font-family: 'Chakra Petch', 'Titillium Web', Helvetica;
}

.projects {
  position:relative;
  margin: 0px; 
  padding: 0px;
  margin-top: 15px;
  padding-bottom: 45px;
  top: 347px;
  left: 0px;
  border-top: 1px solid #b7e4fc;
  background-color: #c4e6f9;
}

.project-tile {
  color: black;
  margin: 0px;
  padding: 0px;
  background-color:white; 
}

.project-tile img {
  height: auto;
  width: 100%;
}

.project-set {
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, auto);
/*  background-color:crimson; */
}

.project-desc {
  font-family: 'Kufam', Helvetica;
  font-size: 14px;
  height: 100px;
  margin-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.project-title {
  font-family: 'Kufam', Helvetica;
  font-size: 18px;
  margin-bottom: 7px;
}

.project-link {
  width: 100%;
  height: 40px;
/*  background-color: cornflowerblue; */
}

.project-tile a {
  font-family: 'Chakra Petch', 'Titillium Web', Helvetica;
  color: #23a9f2;
  text-decoration: none;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  border: 1px solid #23a9f2;
  background-color: white;
}

.project-tile a:hover {
  color: white;
  background-color: #65e7ff;
}

.stack-overlay img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  border-radius: 0px;
}

.stamp-overlay {
  color: white;
  font-family: 'Chakra Petch', 'Titillium Web', Helvetica;
  font-size: 12px;
  height: 20px;
  width: 60px;
  margin-top: 60px;
  padding-top: 4px;
  position: absolute;
  background-color: darkorange;
}



/* -------------- SMALL SCREEN (2 project tiles per row) -------------- */

@media only screen and (min-width: 520px) {

  .banner-icon img {
    margin-right: 10px;
  }

  .project-set {
    margin-left: 10px;
    margin-right: 10px;
    grid-gap: 2%;
    grid-template-rows: repeat(grid-auto-flow, 300px); /* Number of rows onscreen */
    grid-template-columns: repeat(2, 49%);
  }

  .project-tile {
    border-radius: 15px;
    border: 1px solid #b7e4fc;
  }

  .project-tile img {
    border-radius: 15px 15px 0 0;
  }

  .stack-overlay img {
    border-radius: 0px;
  }
}


/* -------------- MEDIUM SCREEN (3 project tiles per row) -------------- */

@media only screen and (min-width: 900px) {

  .banner-avatar {
    margin-right: 20px;
  }

  .banner-button-list li {
    margin-right: 20px;
    /* background-color: turquoise; */
  }

  .banner-label {
    color: #23a9f2;
    position: relative;
    display: inline-block;
    top: 5px;
  }

  .banner-button-list li a:hover .banner-label {
    color: black;
  }

  .banner-icon img {
    height: 35px;
    width: 35px;
  }

  .project-set {
    grid-gap: 1%;
    grid-template-rows: repeat(grid-auto-flow, 250px); /* Number of rows onscreen */
    grid-template-columns: repeat(3, 32.66%);
 /*   background-color:crimson; */
  }

  .project-tile {
    margin-bottom: 10px;
  }

  .stack-overlay img {
    border-radius: 0px;
  }

}

/* -------------- BIG SCREEN -------------- */
@media only screen and (min-width: 1110px) {
  .banner-elements {
    width: 1070px;
  }

  .project-set {
    width: 1070px;
  }

  .stack-overlay img {
    border-radius: 0px;
  }

}